USE [master]
GO
/****** Object:  Database [repairingShop]    Script Date: 15.11.2024 11:35:27 ******/
CREATE DATABASE [repairingShop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'repairingShop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\repairingShop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'repairingShop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\repairingShop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [repairingShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [repairingShop]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 15.11.2024 11:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[clientID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[fio] [nvarchar](max) NOT NULL,
	[phone] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[clientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comments]    Script Date: 15.11.2024 11:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comments](
	[commentID] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[masterID] [int] NOT NULL,
	[requestID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[commentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[masters]    Script Date: 15.11.2024 11:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[masters](
	[masterID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[fio] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[masterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requests]    Script Date: 15.11.2024 11:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requests](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[computerTechType] [nvarchar](max) NOT NULL,
	[computerTechModel] [nvarchar](max) NOT NULL,
	[problemDescryption] [nvarchar](max) NOT NULL,
	[requestStatus] [nvarchar](max) NOT NULL,
	[repairParts] [nvarchar](max) NULL,
	[masterID] [int] NULL,
	[clientID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userRequests]    Script Date: 15.11.2024 11:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userRequests](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[fio] [nvarchar](max) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[computerTechType] [nvarchar](max) NOT NULL,
	[computerTechModel] [nvarchar](max) NOT NULL,
	[problemDescryption] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 15.11.2024 11:35:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](max) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[userLogin] [nvarchar](max) NOT NULL,
	[userPassword] [nvarchar](max) NOT NULL,
	[userType] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[clients]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD FOREIGN KEY([masterID])
REFERENCES [dbo].[masters] ([masterID])
GO
ALTER TABLE [dbo].[comments]  WITH CHECK ADD FOREIGN KEY([requestID])
REFERENCES [dbo].[requests] ([requestID])
GO
ALTER TABLE [dbo].[masters]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD FOREIGN KEY([clientID])
REFERENCES [dbo].[clients] ([clientID])
GO
ALTER TABLE [dbo].[requests]  WITH CHECK ADD FOREIGN KEY([masterID])
REFERENCES [dbo].[masters] ([masterID])
GO
ALTER TABLE [dbo].[userRequests]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[users] ([userID])
GO
USE [master]
GO
